<div class="container-question">
  <div class="container">
    <% if @errors %>
    <span> Please fix the following errors:</span>
    <ul class="error-list">
      <%@errors.each do |error|%>
      <li> <%= error %> </li>
      <% end %>
    </ul>
    <% end%>
    <form action="/questions" method="POST">
      <input type="hidden" name="question[user_id]" value="<%=session[:user_session_id]%>">
      <label for="question_title">Title:</label>
      <input type="text" name="question[title]" placeholder="heading">
      <label for="question_content">Question:</label>
      <textarea rows="5" cols="30" name="question[content]" placeholder="Post your question here."></textarea>
      <input type="submit" value="Post Your Question">
    </form>
  </div>
</div>