<div class= 'login-container'>
<p>Stack Overflow is part of the <img class="stack-exchange" src="https://40.media.tumblr.com/61332bc6b89483d7e253f00038e33ba2/tumblr_o4z60oFqAR1ubupxao1_400.png">network of 153 Q&A communities.</p>
<% if @errors %>
  <span>Please fix the following errors:</span>
  <ul class="error-list pad-b-2">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
<% end %>
<div class="container">
<form class='login-form' method="post" action="/login">

<label for="title-input" class="block mar-b-1">Email:</label>
  <input id="title-input" name="user[email]" type="text" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">

  <label for="title-input" class="block mar-b-1">Password:</label>
  <input id="title-input" name="user[password]" type="password" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">

  <input type="submit" value="Login" tabindex="3" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>
</div>
</div>