<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/foundation.min.css">
  
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/app.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.3.0/annyang.min.js"></script>
  <script>
  <% if logged_in? %>
  if (annyang) {
    // Let's define our first command. First the text we expect, and then the function it should call
    var commands = {
      'new question': function() {
        window.location.href='/questions/new'
        // $('#speech-recognition').css('color','green');
      }
    };

    // Add our commands to annyang
    annyang.addCommands(commands);

    // Start listening. You can call this here, or attach this call to an event, button, etc.
    annyang.start();
  }
  <% end %>
  </script>

  <title>Stack Overflow</title>
</head>
<body>

<div  class="top-bar">
<a href="/"><img src="https://41.media.tumblr.com/cb8f30d105d25da072bd4b904cd96841/tumblr_o4xqrvxqxU1ubupxao1_1280.png" width="150px"></a>

<ul class="top-bar-right menu">

  <% if logged_in? %>
  <li><a href="/logout">Logout</a></li>
<!--   <li><a href="/questions/new">Create Question</a></li> -->
  <% else %>
  <li><a href="/login">Login</a></li>
  <li><a href="/users/new">Sign Up</a></li>
  <% end %>
      <li><input type="search" placeholder="Search Q&A"></li>    
</ul>

</div>

<div class='top-right-menu-options'>
  <ul>
    <li><a href="/">Questions</a></li>
    <li><a href="#">Users</a></li>
    <li><a href="#">Jobs</a></li>
    <% if logged_in? %>
    <li><a id="speech-recognition" href="/questions/new">Ask Questions</a></li>
    <% end %>
  </ul>
</div>


  <%= yield %>

<footer>
  <nav >
    <p>Contact us</p>
    <ul>
      <li class="footer-list"><a  href="#">Alex Forger</a></li>
      <li class="footer-list"><a  href="#">Brian Bier</a></li>
      <li class="footer-list"><a  href="#">Pietro smurf powder</a></li>
    </ul>
  </nav>
  <p class="rights-reserved">
    &copy; 2016 Stack overflow mock; user contributions licensed under bb by-ap 2.0 with attribution not required
  </p>
</footer>
</body>
</html>
